@CHARSET "UTF-8";

body {
	background-color: #f9fbff;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

p {
	font-size: 14px;
	margin-bottom: 5px;
	margin-top: 5px;
}

a:hover .card-outmore {
	background: #2C3E50;
	color: #fff;/*  */
}

a:hover .thecard {
	box-shadow: 0 10px 50px rgba(0, 0, 0, .6);
	font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
}

.thecard {
	width: 300px;
	margin: 5% auto;
	margin-left: 10px;
	margin-right: 38px;
	float: left;
	display: block;
	background-color: #fff;
	border-radius: 4px;
	transition: 400ms ease;
}

.card-img img {
	border-radius: 4px 4px 0px 0px;
}

.card-caption {
	width: 100%;
	position: relative;
	background: #ffffff;
	padding: 15px 25px 5px 25px;
	border-radius: 0px 0px 4px 4px;
	border-right: 2px solid #dcdcdc;
	border-bottom: 2px solid #dcdcdc;
}

.card-outmore {
	padding: 10px 25px 10px 25px;
	border-radius: 0px 0px 4px 4px;
	border-top: 1px solid #e0e0e0;
	background: #efefef;
	color: #222;
	display: inline-table;
	width: 100%;
	box-sizing: border-box;
	transition: 400ms ease;
}

.card-outmore i {
	float: right;
}

span.date {
	font-size: 12px;
}

.center_name {
	font-size: 22px;
	font-family: 배달의민족 도현; 
	src: ./bootstrap/fonts/BMDOHYEON_ttf.ttf;
}

@media .div_h and (min-height: 45px) height >= 48 px
{
    .center_name {
    	font-size: 15px;
    }
}

.bt_likeOn {
	border: none;
	font-size: 10px;
	background: white;
	color: white;
	padding: 10px 11px;
	border-radius: 50em;
	position: absolute;
	right: 20px;
	top: -22px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
}

.bt_likeOff {
	border: none;
	font-size: 10px;
	background: white;
	color: white;
	padding: 10px 11px;
	border-radius: 50em;
	position: absolute;
	right: 20px;
	top: -22px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
}

.bt_likeOn:hover {
	font-size: 18px;
	background: white;
	color: white;
	padding: 13px 15px;
	border-radius: 50em;
	position: absolute;
	right: 20px;
	top: -22px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
}

.bt_likeOff:hover {
	font-size: 18px;
	background: white;
	color: white;
	padding: 13px 15px;
	border-radius: 50em;
	position: absolute;
	right: 20px;
	top: -22px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
}

.teduri {
	padding: 0px;
}

@media screen and (min-width: 768px) /* height >= 768 px */
{
    .select_div {
		width: 540px;
	}
	.thecard {
		width: 300px;
	}
}



@media screen and (max-width: 767px) /* height <= 767 px */
{
    .select_div {
		width: 100%;
		padding-bottom: 30px;
	}
	.card-img{
		width: 100%;
	}
	.card-caption{
		width: 100%;
	}
	.thecard {
		width: 100%;
		margin: auto;
	}
	.div_list {
		padding-top: 30px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.thecard {
		margin-bottom: 30px;
	}
	.center_name {
		width: 100%;
	}
}


.div_list {
	float: left;
	width: 100%;
	margin: auto;
	padding: 0px;
}

.fix_map {
	background-color: green;
	position: fixed;
	bottom: 66px;
	right:24px;
}

.fix_text {
	border: 1px solid;
	width: 235px;
	height:56px;
	position: fixed;
	bottom: 10px;
	right:84px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	z-index: 90;
}

.fix_zoom {
	width: 40px;
	position: fixed;
	bottom: 5px;
	right:45px;
	z-index: 90;
	height: 60px;
}

.text_map {
	/* border:solid 1px;
	height: 50px;
	width: 240px;
	margin-top: 0px; */
	
}

.btZoomin {
	box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
	height: 100%;
	outline: none;
	/* background-color: white;
	border:none;
	border-right:0px; 
	border-top:0px; 
	boder-left:0px; 
	boder-bottom:0px;
	 */
	
}

/* 버튼 스타일 */
  button {
 display: inline-block;
 outline: none;
 cursor: pointer;
 text-align: center;
 text-decoration: none;
 font: 14px/100% Arial, Helvetica, sans-serif;
 padding: .5em 2em .55em;
 text-shadow: 0 1px 1px rgba(0,0,0,.3);
 -webkit-border-radius: .5em;
 -moz-border-radius: .5em;
 border-radius: .5em;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
 box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
 text-decoration: none;
}
.button:active {
 position: relative;
 top: 1px;
}
/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}